@model VSTemplateCore2.Areas.Admin.Models.SitePageViewModels.DeleteViewModel

@inject UserManager<ApplicationUser> userManager

@{
  ViewData["Title"] = "Delete a Site Page";
}

<div class="container">
  <h1 class="page-header">@ViewData["Title"]</h1>
  <h3>Are you sure you want to delete this Site Page?</h3>
  <div>
    <dl class="dl-horizontal dl-admin">
      <dt>@Html.DisplayNameFor(model => model.Title)</dt>
      <dd>@Html.DisplayFor(model => model.Title)</dd>

      <dt>@Html.DisplayNameFor(model => model.Active)</dt>
      <dd>@Html.DisplayFor(model => model.Active)</dd>

      <dt>@Html.DisplayNameFor(model => model.ShowInMenu)</dt>
      <dd>@Html.DisplayFor(model => model.ShowInMenu)</dd>

      <dt>@Html.DisplayNameFor(model => model.ParentMenu)</dt>
      <dd>@Html.DisplayFor(model => model.ParentMenu)</dd>

      <dt>@Html.DisplayNameFor(model => model.CreatedBy)</dt>
      <dd>@await userManager.FindByIdAsync(Model.CreatedBy)</dd>

      <dt>@Html.DisplayNameFor(model => model.CreatedOn)</dt>
      <dd>@Html.DisplayFor(model => model.CreatedOn)</dd>

      <dt>@Html.DisplayNameFor(model => model.LastUpdatedBy)</dt>
      <dd>@await userManager.FindByIdAsync(Model.LastUpdatedBy)</dd>

      <dt>@Html.DisplayNameFor(model => model.LastUpdatedOn)</dt>
      <dd>@Html.DisplayFor(model => model.LastUpdatedOn)</dd>
    </dl>

    <form asp-action="Delete">
      <input type="hidden" asp-for="Id" />
      <input type="submit" value="Delete" class="btn btn-danger" />
      <a asp-action="Index" class="button-cancel">Back to List</a>
    </form>
  </div>
</div>
